<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>BOYSFISHING</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=n3uuywhy9m"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="static/css/landing-page.min.css" rel="stylesheet">

</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <li class="list-inline-item">
        <a class="navbar-brand" href="/home">Team.BoysFishing</a>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-primary" href="/home">Home</a>
        <a class="btn btn-primary" href="/introduction">Introduction</a>
        <a class="btn btn-primary" href="/location">Location</a>
      </li>

    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">낚시터 찾기</h1>
        </div>




          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form action="/post" method = "post">
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input list = "location" id ="input" name = "input" class="form-control form-control-lg"placeholder="장소를 선택해주세요.">
                      <datalist id = "location">
                          <option value="충청남도 태안군" label="충청남도"></option>
                              <option value="충청남도 보령시" label="충청남도"></option>
                              <option value="충청남도 당진시" label="충청남도"></option>
                              <option value="전라남도 장흥군" label="전라남도"></option>
                              <option value="전라남도 신안군" label="전라남도"></option>
                              <option value="전라남도 무안군" label="전라남도"></option>
                              <option value="전라남도 고흥군" label="전라남도"></option>
                              <option value="전라남도 강진군" label="전라남도"></option>
                              <option value="인천광역시 옹진군" label="인천광역시"></option>
                              <option value="울산광역시 북구" label="울산광역시"></option>
                              <option value="부산광역시 영도구" label="부산광역시"></option>
                              <option value="부산광역시 강서구" label="부산광역시"></option>
                              <option value="경상북도 울진군" label="경상북도"></option>
                              <option value="경상남도 통영시" label="경상남도"></option>
                              <option value="경상남도 창원시" label="경상남도"></option>
                              <option value="경상남도 남해군" label="경상남도"></option>
                              <option value="경상남도 거제시" label="경상남도"></option>
                              <option value="경기도 화성시" label="경기도"></option>
                              <option value="경기도 안산시" label="경기도"></option>
                      </datalist>
              </div>
              <div class="col-12 col-md-3">
                  <input type = "submit" value = "SEARCH" class="btn btn-block btn-lg btn-primary">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('static/img/sea.jpg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>ENJOY YOUR FISHING</h2>
          <p class="lead mb-0">우리들은 날씨와 낚시터 현황을 기반으로 하여 지도에서 당신의 요구사항에 적합한 낚시터 추천 서비스를 제공한다. 당신들은 우리의 서비스를 통해서 적합한 낚시터에서 즐거운 낚시를 즐길 수 있다.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">Developer</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/img/kwan.jpg" alt="">
            <h5>Gwanhyeok Kim</h5>
            <p class="font-weight-light mb-0">2015136011</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/img/dong.jpg" alt="">
            <h5>Dongyeon Kim</h5>
            <p class="font-weight-light mb-0">2015136017</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="static/img/gyu.jpg" alt="">
            <h5>Kyuyoung Lee</h5>
            <p class="font-weight-light mb-0">2015136089</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<!DOCTYPE html>
<div id="map" style="width:100%;height:400px;"></div>

<script>
var mapOptions = {
    center: new naver.maps.LatLng(35.2672005903, 129.018349061),
    zoom: 20
};

var map = new naver.maps.Map('map', mapOptions);
</script>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>