<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>BOYSFISHING</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=n3uuywhy9m"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>

<style>
    html,body {margin:0; padding:0; position: relative; height: 100%;}
    #wrap {margin:0 auto;text-align:center;}
    #quick_bg {margin:0 auto;text-align:center;width:960px;position:relative;}
    #quick {position:absolute;z-index:5;top:15px;width:153px;right:0px;}
</style>

  <title>Landing Page - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/static/css/landing-page.min.css" rel="stylesheet">

</head>

<body>

<div id="wrap">
   <div id="quick_bg">
      <div id="quick">
         <a style="position:fixed;margin-left : 100px; margin-top:150px";>
                <table border="10" boardercolor = "black" width = "500px" height = "500px" align = "left">

                    <tr>
                        <h2>{{ location }}</h2>
                    </tr>
                    <tr>
                        <div align="center" id="map" style="position : fixed; width:500px;height:500px;"></div>
                    </tr>
                    <tr>
                        <h4>수온</h4>
                        {{ temp }}도
                    </tr>
                    <tr>
                        <h4>추천어종</h4>
                        {% for i in fishList %}
                            {{ i }}
                        {% endfor %}
                    </tr>
                </table>
            </a>
      </div>
    </div>
</div>
  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <li class="list-inline-item">
        <a class="navbar-brand" href="/home">Team.BoysFishing</a>
      </li>
      <li class="list-inline-item">
        <a class="btn btn-primary" href="/home">Home</a>
        <a class="btn btn-primary" href="/introduction">Introduction</a>
        <a class="btn btn-primary" href="/location">Location</a>
      </li>

    </div>
  </nav>
<!DOCTYPE html>
  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">어형어제</h1>
        </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form action="/post" method = "post">
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input list = "location" id ="input" name = "input" class="form-control form-control-lg"placeholder="{{location}}">
                      <datalist id = "location">
                          <option value="충청남도 태안군" label="충청남도"></option>
                              <option value="충청남도 보령시" label="충청남도"></option>
                              <option value="충청남도 당진시" label="충청남도"></option>
                              <option value="전라남도 장흥군" label="전라남도"></option>
                              <option value="전라남도 신안군" label="전라남도"></option>
                              <option value="전라남도 무안군" label="전라남도"></option>
                              <option value="전라남도 고흥군" label="전라남도"></option>
                              <option value="전라남도 강진군" label="전라남도"></option>
                              <option value="인천광역시 옹진군" label="인천광역시"></option>
                              <option value="울산광역시 북구" label="울산광역시"></option>
                              <option value="부산광역시 영도구" label="부산광역시"></option>
                              <option value="부산광역시 강서구" label="부산광역시"></option>
                              <option value="경상북도 울진군" label="경상북도"></option>
                              <option value="경상남도 통영시" label="경상남도"></option>
                              <option value="경상남도 창원시" label="경상남도"></option>
                              <option value="경상남도 남해군" label="경상남도"></option>
                              <option value="경상남도 거제시" label="경상남도"></option>
                              <option value="경기도 화성시" label="경기도"></option>
                              <option value="경기도 안산시" label="경기도"></option>
                      </datalist>
              </div>
              <div class="col-12 col-md-3">
                  <input type = "submit" value = "SEARCH" class="btn btn-block btn-lg btn-primary">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- Image Showcases -->

            {% for i in data %}

                  <table border="0" boardercolor = "blue" width = "1500" height = "300" align = "left" margin-top="100">
                      <tr>
                          <td rowspan="3" align = "center" width="300"><img src = "/static/img/fishing.jpg" width="300" height="300"></td>
                          <td colspan="2" align="center"><h1>{{ i['fname'] }}</h1></td>
                      </tr>
                      <tr>
                          <td colspan="2" align="center"><h5 style="color: #6c757d">{{ i['flocation'] }}</h5></td>
                      </tr>
                      <tr>
                          <td align="center" width="600"><h6>주요 어종</h6> {{ i['fish'] }}</td>
                          <td align="center" width="600"><h6>요금</h6>{{ i['fmoney'] }}</td>
                      </tr>

                  </table>



            {% endfor %}
<script>
//var LLL = '<div style="width:150px;text-align:center;padding:10px;">The Letter is <b>"'+ key.substr(0, 1) +'"{{ data[0] }}</b>.</div>';
var HOME_PATH = window.HOME_PATH || '.';
var MARKER_POSITION = {{ fdic|tojson }};
var MARKER_SPRITE_X_OFFSET = 29,
    MARKER_SPRITE_Y_OFFSET = 50,

    MARKER_SPRITE_POSITION = {{ fdic|tojson }};
var map = new naver.maps.Map('map', {
    center: new naver.maps.LatLng({{ data[0]['flatitude']|tojson }}, {{ data[0]['flongitude']|tojson }}),
    zoom: 10
});
var bounds = map.getBounds(),
    southWest = bounds.getSW(),
    northEast = bounds.getNE(),
    lngSpan = northEast.lng() - southWest.lng(),
    latSpan = northEast.lat() - southWest.lat();
var markers = [],
    infoWindows = [];
for (var key in MARKER_SPRITE_POSITION) {
    var position = new naver.maps.LatLng(MARKER_SPRITE_POSITION[key][0], MARKER_SPRITE_POSITION[key][1]);
    var marker = new naver.maps.Marker({
        map: map,
        position: position,
        title: key,
        icon: {
            url: HOME_PATH +'/img/example/sp_pins_spot_v3.png',
            size: new naver.maps.Size(24, 37),
            anchor: new naver.maps.Point(12, 37),
            origin: new naver.maps.Point(MARKER_SPRITE_POSITION[key][0], MARKER_SPRITE_POSITION[key][1])
        },
        zIndex: 100
    });
    var infoWindow = new naver.maps.InfoWindow({
        content: '<div style="width:150px;text-align:center;padding:10px;"><b>"'+ key.substr(0) +'"</b>.</div>'
    });
    markers.push(marker);
    infoWindows.push(infoWindow);
};

naver.maps.Event.addListener(map, 'idle', function() {
    updateMarkers(map, markers);
});

function updateMarkers(map, markers) {

    var mapBounds = map.getBounds();
    var marker, position;

    for (var i = 0; i < markers.length; i++) {

        marker = markers[i]
        position = marker.getPosition();

        if (mapBounds.hasLatLng(position)) {
            showMarker(map, marker);
        } else {
            hideMarker(map, marker);
        }
    }
}

function showMarker(map, marker) {

    if (marker.setMap()) return;
    marker.setMap(map);
}

function hideMarker(map, marker) {

    if (!marker.setMap()) return;
    marker.setMap(null);
}

// 해당 마커의 인덱스를 seq라는 클로저 변수로 저장하는 이벤트 핸들러를 반환합니다.
function getClickHandler(seq) {
    return function(e) {
        var marker = markers[seq],
            infoWindow = infoWindows[seq];

        if (infoWindow.getMap()) {
            infoWindow.close();
        } else {
            infoWindow.open(map, marker);
        }
    }
}

for (var i=0, ii=markers.length; i<ii; i++) {
    naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
}

</script>



  <!-- Call to Action -->


  <!-- Footer -->

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>